/* ======================== NAVBAR ======================== */

* {
  font-family: montserrat;
  /* margin: 20px; */
}
a {
  text-decoration: none;
}

body {
  margin-top: 90px;
}

.nav {
  background: #ddd;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-logo-div {
  position: fixed;
  top: 22px;
  left: 47%;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-logo-house {
  width: 34px;
  height: 34px;
}

.nav-logo-name {
  margin: 10px 0 0 10px;
  color: #1f1f1f;
  font-weight: 400;
  font-size: 1.2rem;
}

.login-link::after,
.home-link::after,
.saves-link::after,
.add-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #1f1f1f;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.logout-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #b00;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.login-link:hover::after,
.login-link:focus::after,
.home-link:hover::after,
.home-link:focus::after,
.saves-link:hover::after,
.saves-link:focus::after,
.add-link:hover::after,
.add-link:focus::after,
.logout-link:hover::after,
.logout-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.home-link {
  color: #000;
  color: #000;
  position: fixed;
  top: 25px;
  font-size: 0.95rem;
  left: 40px;
  padding: 0.2em 0;
  overflow: hidden;
}
.saves-link {
  color: #000;
  position: fixed;
  top: 25px;
  right: 430px;
  font-size: 0.95rem;
  padding: 0.2em 0;
  overflow: hidden;
}
.add-link {
  color: #000;
  position: fixed;
  top: 25px;
  right: 510px;
  font-size: 0.95rem;
  padding: 0.2em 0;
  overflow: hidden;
}

.login-link {
  color: #000;
  overflow: hidden;
  display: block;
  position: fixed;
  padding: 0.2em 0;
  font-size: 0.95rem;
  position: fixed;
  right: 80px;
  top: 25px;
  display: flex;
}

.login-link::after,
.home-link::after,
.saves-link::after,
.add-link::after,
.logout-link::after {
  opacity: 1;
  transform: translate3d(-105%, 0, 0);
}

.login-link:hover::after,
.login-link:focus::after,
.home-link:hover::after,
.home-link:focus::after,
.saves-link:hover::after,
.saves-link:focus::after,
.add-link:hover::after,
.add-link:focus::after,
.logout-link:hover::after,
.logout-link:focus::after {
  transform: translate3d(0, 0, 0);
}

.logout-link {
  color: #000;
  overflow: hidden;
  display: block;
  position: fixed;
  padding: 0.2em 0;
  font-size: 0.95rem;
  position: fixed;
  right: 80px;
  top: 25px;
  display: flex;
  cursor: pointer;
}

#dark-btn {
  border: none;
  padding: 5px 10px;
  background: none;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
  position: fixed;
  right: 285px;
  top: 23px;
  font-size: 0.94rem;
}
#dark-btn:hover {
  background: #3f3f3f;
  color: #fff;
}

#light-btn {
  display: none;
  background: none;
  color: #000;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 2px;
  padding: 5px 10px;
  position: fixed;
  right: 285px;
  top: 23px;
  font-size: 0.95rem;
}
#light-btn:hover {
  background: #9f9f9f;
  color: #fff;
}

/* ========================== HOME SLIDESHOW ======================== */

/* Slideshow container */
.home-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.home-slideshow-img {
  width: 100%;
  opacity: 0.9;
  box-shadow: 10px 10px 10px #0002;
  height: 663px;
}

.homeSlides {
  /* display: none; */
  vertical-align: middle;
  /* opacity: 0.3; */
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #333;
}

/* Fading animation */
.homeFade {
  -webkit-animation-name: homeFade;
  -webkit-animation-duration: 1.5s;
  animation-name: homeFade;
  animation-duration: 2.5s;
}

@-webkit-keyframes homeFade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes homeFade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* ========================== STATE LISTINGS ======================== */

.houses {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.top-info-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  display: flex;
  align-items: center;
}

.active-status {
  background: #2b3;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
}
.inactive-status {
  background: #b23;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
}

.house-listedby {
  color: #000;
  letter-spacing: 2px;
  background: #fff;
  padding: 5px 15px;
  font-size: 1rem;
}

.house-container-outer {
  width: 30%;
  /* background: #0009; */
  margin: 20px;
}

.house-container {
  /* width: 40%; */
  position: relative;
}

.house-container:hover .info {
  width: 100%;
  left: 0;
}

.house-img {
  width: 100%;
  display: block;
  /* height: auto; */
  height: 428px;
}

.info {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #0008;
  overflow: hidden;
  width: 0%;
  height: 100%;
  transition: 0.5s ease;
}

.house-active {
  color: #2b3;
  letter-spacing: 3px;
  font-weight: 500;
}
.house-inactive {
  color: #b23;
  letter-spacing: 3px;
  font-weight: 500;
}

.house-price {
  color: #fff;
  font-size: 2.7rem;
  text-align: center;
  border-bottom: 4px solid #fff;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 0px;
  font-weight: 600;
  min-width: 400px;
}

.house-bd {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 12px;
  min-width: 800px;
  padding-bottom: 8px;
  font-size: 1.3rem;
}
.house-ba {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 12px;
  min-width: 800px;
  padding-bottom: 8px;
  font-size: 1.3rem;
}

.house-sqft {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 12px;
  min-width: 800px;
  padding-bottom: 8px;
  font-size: 1.3rem;
}
.house-address {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 12px;
  min-width: 800px;
  padding-bottom: 8px;
  font-size: 1.3rem;
}
.house-yb {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 12px;
  min-width: 800px;
  padding-bottom: 8px;
  font-size: 1.3rem;
}
.home-links {
  display: flex;
  align-items: center;
}

/* ========================== LOADING ICON ========================== */

.loading {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 49%;
  width: 80px;
  height: 80px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border-right: 2px solid transparent;
  border-top: 2px solid #2b4;
  animation: load 0.5s linear infinite;
}

@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.house {
  position: absolute;
  top: 51.5%;
  left: 49.8%;
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-left: -15px;
}

/* ========================= VIEW LISTING ======================= */

.image-view {
  width: 100%;
  height: 566px;
  vertical-align: middle;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  width: 45%;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px 12px 13px 5px;
  margin: -22px 0 0 0;
  color: #000;
  font-size: 38px;
  transition: 0.3s;
  border-radius: 0 50px 50px 0;
  user-select: none;
  background: #fff9;
  font-weight: 100;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50px 0 0 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px 5px 13px 12px;
  margin: -22px 0 0 0;
  color: #000;
  font-size: 38px;
  transition: 0.3s;
  user-select: none;
  background: #fff9;
  font-weight: 100;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background: #fff;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 10px 17px 15px 10px;
  position: absolute;
  top: 0;
  background: #1f1f1f;
  border-radius: 0 0 100% 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    left: 0.9;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
