/* ======================== NAVBAR ======================== */

* {
  font-family: montserrat;
  margin: 0px;
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
}

body {
  margin-top: 90px;
}

.username {
  position: fixed;
  top: 7px;
  left: 20px;
  z-index: 1;
  font-weight: 300;
  font-size: 1.5rem;
}

.nav {
  /* background: #fff; */
  height: 76px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
}

.nav.scroll {
  background: #fff;
  transition: 0.5s;
  box-shadow: 0 0 10px #0003;
}

.dropdown {
  overflow: hidden;
}

.dropbtn {
  position: fixed;
  left: 190px;
  font-weight: 400;
  top: 10px;
  font-size: 1.2rem;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar .drop-link:hover,
.dropdown:hover .dropbtn {
  background-color: #fff0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 172px;
  top: 60px;
}

.dropdown-content .drop-link {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content .drop-link:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-logo-div {
  position: fixed;
  top: 22px;
  left: 46.6%;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-logo-house {
  width: 34px;
  height: 34px;
}

.nav-logo-name {
  margin: 10px 0 0 10px;
  color: #1f1f1f;
  font-weight: 400;
  font-size: 1.2rem;
}

.login-link::after,
.home-link::after,
.saves-link::after,
.add-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #1f1f1f;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.logout-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #b00;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.login-link:hover::after,
.login-link:focus::after,
.home-link:hover::after,
.home-link:focus::after,
.saves-link:hover::after,
.saves-link:focus::after,
.add-link:hover::after,
.add-link:focus::after,
.logout-link:hover::after,
.logout-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.home-link {
  color: #000;
  color: #000;
  position: fixed;
  top: 20px;
  left: 80px;
  padding: 0.2em 0;
  overflow: hidden;
  font-size: 1.3rem;
}
.saves-link {
  color: #000;
  position: fixed;
  top: 20px;
  right: 470px;
  font-size: 1.3rem;
  padding: 0.2em 0;
  overflow: hidden;
}
.add-link {
  color: #000;
  position: fixed;
  top: 20px;
  right: 570px;
  font-size: 1.3rem;
  padding: 0.2em 0;
  overflow: hidden;
}

.login-link {
  color: #000;
  overflow: hidden;
  display: block;
  position: fixed;
  padding: 0.2em 0;
  font-size: 1.3rem;
  position: fixed;
  right: 80px;
  top: 20px;
  display: flex;
}

.login-link::after,
.home-link::after,
.saves-link::after,
.add-link::after,
.logout-link::after {
  opacity: 1;
  transform: translate3d(-105%, 0, 0);
}

.login-link:hover::after,
.login-link:focus::after,
.home-link:hover::after,
.home-link:focus::after,
.saves-link:hover::after,
.saves-link:focus::after,
.add-link:hover::after,
.add-link:focus::after,
.logout-link:hover::after,
.logout-link:focus::after {
  transform: translate3d(0, 0, 0);
}

.logout-link {
  color: #000;
  overflow: hidden;
  display: block;
  position: fixed;
  padding: 0.2em 0;
  font-size: 1.3rem;
  position: fixed;
  right: 80px;
  top: 20px;
  display: flex;
  cursor: pointer;
}

#dark-btn {
  border: none;
  padding: 5px 10px;
  background: none;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
  position: fixed;
  right: 305px;
  top: 20px;
  font-size: 1.3rem;
}
#dark-btn:hover {
  background: #3f3f3f;
  color: #fff;
}

#light-btn {
  display: none;
  background: none;
  color: #000;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 2px;
  padding: 5px 10px;
  position: fixed;
  right: 305px;
  top: 20px;
  font-size: 1.3rem;
}
#light-btn:hover {
  background: #9f9f9f;
  color: #fff;
}

/* ========================== HOME SLIDESHOW ======================== */

/* Slideshow container */
/* .home-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.home-slideshow-img {
  width: 100%;
  opacity: 0.9;
  box-shadow: 10px 10px 10px #0002;
  height: 663px;
}

.homeSlides {
  vertical-align: middle;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #333;
}

.homeFade {
  -webkit-animation-name: homeFade;
  -webkit-animation-duration: 1.5s;
  animation-name: homeFade;
  animation-duration: 2.5s;
}

@-webkit-keyframes homeFade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes homeFade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
} */
.home-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-img-div > div > h1 {
  font-weight: 300;
  color: #333;
  font-size: 2rem;
  margin: 50px;
}

.home-img-div > section > h2 {
  font-weight: 400;
  color: #0009;
  font-size: 2rem;
  text-align: center;
}

.home-img-div > section {
  padding: 50px;
  border-bottom: 1px solid #0004;
  margin-bottom: 90px;
  width: 80%;
}

.home-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-slideshow-img {
  opacity: 0.9;
  width: 60%;
  box-shadow: 10px 10px 10px #0003;
  max-height: 755px;
}

.home-images {
  width: 600px;
  height: 430px;
  margin: 20px;
  transition: 0.3s;
}
.home-images:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 10px #0003;
}
.home-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.home-links > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-links > div > h1 {
  font-weight: 300;
  margin: 50px 0 0px 0;
  /* border-bottom: 1px solid #0005; */
}
.home-links > div > h2 {
  font-weight: 200;
  margin: 0 0 50px 0;
}
/* ========================== STATE LISTINGS ======================== */

.houses {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.top-info-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.status {
  display: flex;
  align-items: center;
}

.active-status {
  background: #2b3;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
}
.inactive-status {
  background: #b23;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
}

.house-listedby {
  color: #000;
  letter-spacing: 2px;
  background: #fff;
  padding: 5px 15px;
  font-size: 1rem;
}

.house-container-outer {
  width: 30%;
  /* background: #0009; */
  margin: 20px;
}

.house-container {
  /* width: 40%; */
  position: relative;
}

.house-container:hover .info {
  width: 100%;
  left: 0;
}

.house-img {
  width: 100%;
  display: block;
  /* height: auto; */
  height: 428px;
}

.info {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #0008;
  overflow: hidden;
  width: 0%;
  height: 100%;
  transition: 0.5s ease;
}

.house-active {
  color: #2b3;
  letter-spacing: 3px;
  font-weight: 500;
}
.house-inactive {
  color: #b23;
  letter-spacing: 3px;
  font-weight: 500;
}

.house-price {
  color: #fff;
  font-size: 2.7rem;
  text-align: center;
  border-bottom: 4px solid #fff;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 0px;
  font-weight: 400;
  min-width: 400px;
}

.house-bd {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 12px;
  min-width: 800px;
  padding-bottom: 8px;
  font-size: 1.4rem;
  margin: 15px 0 10px 0;
}
.house-ba {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 12px;
  min-width: 800px;
  padding-bottom: 8px;
  font-size: 1.4rem;
  margin: 10px 0 10px 0;
}

.house-sqft {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 12px;
  min-width: 800px;
  padding-bottom: 8px;
  font-size: 1.4rem;
  margin: 10px 0 10px 0;
}
.house-address {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 12px;
  min-width: 800px;
  padding-bottom: 8px;
  font-size: 1.4rem;
  margin: 10px 0 10px 0;
}
.house-yb {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 12px;
  min-width: 800px;
  padding-bottom: 8px;
  font-size: 1.4rem;
  margin: 5px 0 0px 0;
}

/* ========================== LOADING ICON ========================== */

.loading {
  box-sizing: border-box;
  position: absolute;
  top: 33%;
  left: 49%;
  width: 80px;
  height: 80px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border-right: 2px solid transparent;
  border-top: 2px solid #2b4;
  animation: load 0.5s linear infinite;
}

@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.house {
  position: absolute;
  top: 33.5%;
  left: 49.8%;
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-left: -15px;
}

/* ========================= VIEW LISTING ======================= */

.state-name {
  text-align: center;
  margin: 40px;
  font-weight: 300;
  padding-top: 70px;
  border-bottom: 1px solid #0002;
  padding-bottom: 30px;
}

.view-container {
  padding-top: 70px;
}

.image-view {
  width: 100%;
  height: 566px;
  vertical-align: middle;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  width: 45%;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px 12px 13px 5px;
  margin: -22px 0 0 0;
  color: #000;
  font-size: 38px;
  transition: 0.3s;
  border-radius: 0 50px 50px 0;
  user-select: none;
  background: #fff9;
  font-weight: 100;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50px 0 0 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px 5px 13px 12px;
  margin: -22px 0 0 0;
  color: #000;
  font-size: 38px;
  transition: 0.3s;
  user-select: none;
  background: #fff9;
  font-weight: 100;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background: #fff;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 10px 17px 15px 10px;
  position: absolute;
  top: 0;
  background: #1f1f1f;
  border-radius: 0 0 100% 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    left: 0.9;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* ================================== LOGIN ================================== */

.login-title {
  text-align: center;
  font-weight: 300;
  color: #0009;
  padding-top: 90px;
}

.login-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.login-div > label {
  color: #000;
  width: 30.5%;
  margin-bottom: 0px;
  margin-top: 20px;
}

.login-inputs {
  height: 47px;
  width: 30%;
  margin: 7px;
  padding-left: 10px;
  font-size: 1rem;
  outline-color: #0005;
  outline: 2px;
  border: 1px solid #bbb;
  border-radius: 1px;
}

.login-inputs:hover {
  border: 1px solid #000;
}

.login-div > button {
  width: 10%;
  padding: 10px 5px;
  margin: 10px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 1px;
}

.login-div > button:hover {
  background: #0002;
}
.login-div > h4 {
  font-weight: 400;
  margin-top: 20px;
}
.login-div > h4 > a {
  color: #555;
  transition: 0.3s;
}
.login-div > h4 > a:hover {
  color: #000;
}

/* ================================== ADD ================================== */

.add-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.add-container > h1 {
  font-weight: 200;
  padding: 80px 0 40px 0;
}
.add-container > label {
  width: 20%;
  margin: 15px 0 2px 0;
}
.add-container > input {
  width: 19.5%;
  height: 36px;
  outline-color: #0007;
  border: 1px solid #999;
  outline: 1px;
  border-radius: 1px;
  padding-left: 10px;
}

.add-container > select {
  width: 20.2%;
  height: 36px;
  outline-color: #0007;
  border: 1px solid #999;
  outline: 1px;
  border-radius: 1px;
  padding-left: 10px;
}
.add-container > input:hover {
  border: 1px solid;
}

.add-img-div {
  position: fixed;
  left: 10%;
  top: 30%;
  display: flex;
  flex-direction: column;
}
.add-img-div > label {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
}
.add-img-div > input {
  height: 30px;
  margin: 10px;
  width: 300px;
  outline-color: #0007;
  border: 1px solid #999;
  outline: 1px;
  border-radius: 1px;
  padding-left: 10px;
}
.add-img-div > input:hover {
  border: 1px solid #000;
}
.add-submit {
  border: none !important;
  background: none;
  cursor: pointer;
  margin: 20px 0 100px 0;
  transition: 0.3s;
}
.add-submit:hover {
  background: #0002;
}

.add-address-div {
  position: fixed;
  right: 10%;
  top: 30%;
  display: flex;
  flex-direction: column;
}

.add-address-div > label {
  font-size: 1.2rem;
  font-weight: 200;
}
.add-address-div > input {
  height: 36px;
  margin: 10px;
  width: 300px;
  outline-color: #0007;
  border: 1px solid #999;
  outline: 1px;
  border-radius: 1px;
  padding-left: 10px;
}
.add-address-div > input:hover {
  border: 1px solid #000;
}

.add-address-div > label {
  font-size: 1.2rem;
  font-weight: 200;
  margin-left: 13px;
}
.add-address-div > select {
  height: 36px;
  margin: 10px;
  width: 314px;
  outline-color: #0007;
  border: 1px solid #999;
  outline: 1px;
  border-radius: 1px;
  padding-left: 10px;
}
.add-address-div > select:hover {
  border: 1px solid #000;
}

.delete {
  border: none;
  background: none;
  color: #000;
  cursor: pointer;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0px;
  right: 50px;
}
.delete:hover {
  color: #900;
}

.show-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  border-bottom: 1px solid #0003;
}
.show-details > h2 {
  font-size: 2.9rem;
  font-weight: 400;
  border-bottom: 1px solid #0005;
  padding-bottom: 10px;
  margin-bottom: 14px;
}
.show-details > h3 {
  color: #0009;
  margin: 8px;
  font-size: 1.4rem;
  font-weight: 400;
}
.show-details > h4 {
  color: #0009;
  margin: 6px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 400;
}
/* ================================== FOOTER ================================== */

.footer {
  background: #0001;
  display: flex;
  justify-content: center;
  margin: 130px 0 0px 0;
  padding: 60px;
}

.footer > div > h2 {
  font-weight: 300;
  margin-right: 20px;
  font-size: 1.1rem;
  border-bottom: 1px solid #0003;
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 12px;
}

.footer > div > a {
  font-weight: 300;
  margin-right: 20px;
  font-size: 1.2rem;
  color: #000;
}
.footer > div > a:hover {
  color: #3f3f3f;
}

.foot-logo-div {
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-left: 20px;
}
